/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star*/
/*Applies to styling to all elements on the webpage*/

* {
	border: 1px solid lightgrey;
}

/*Descendant Selector*/
/*Let's say we want to select only elements which are descendents of a particular element (in this case, anchor tags that are descendent of li)*/

li a {
	color: red;
}

/*we could also do this for classes as well
li .class {

}
*/


/*Adjacent Selector*/
/*If we want to select elements that come after a particular element, we use the '+' operator. Note this does not mean nested, simply comes after*/

h4 + ul {
	border: 4px solid red;
}


/*Attribute Selector*/
/*If we want to select only a certain type of element (all links to google, only certain checkboxes)*/

a[href="http://www.google.com"] {
	background: blue;
}

/*nth of type*/
/*Let's say we want to pick the nth element of a certain type. We can use this selector*/
/*ul:nth-of-type(3){
	background: purple;
}*/

li:nth-of-type(odd){
	background: purple;
}
